@model WebPortal.Controllers.ServiceBusBenchViewModel

@{
    ViewBag.Title = "Azure Bench - Service Bus";
}

@section styles
{
    <style type="text/css">
        .Results {
            white-space:        pre-line;
            background-color:   cornflowerblue;
            -ms-border-radius:  10px;
            border-radius:      10px;
            margin-top:         10px;
            padding:            5px;
            font-family:        monospace;
            overflow:           hidden;
        }

        .ServiceBusFunctionPane {
            background-color: lightgray;
            -ms-border-radius:  10px;
            border-radius:      10px;
            padding: 10px;
        }

        .FieldSection {
            margin: 5px;
        }

        .FieldSection label {
            font-weight: lighter;
            float:       left;
            width:       175px;
        }
    </style>
}


<h1>Service Bus</h1>

@Html.LabelFor(model => model.ServiceSettings)
<div class="FieldSection">@Html.EditorFor(model => model.ServiceSettings)</div>

@Html.LabelFor(model => model.QueueSettings)
<div class="FieldSection">@Html.EditorFor(model => model.QueueSettings)</div>

<div id="ServiceBusFunctions">
    <h2>QueueClient.Send</h2>
    <div class="ServiceBusFunctionPane">
        @using (Ajax.BeginForm("Send", "ServiceBus", new AjaxOptions {UpdateTargetId = "SendResults"}))
        {
            @Html.HiddenFor(model => model.ServiceSettings.Namespace)
            @Html.HiddenFor(model => model.ServiceSettings.AccessKey)
            @Html.HiddenFor(model => model.QueueSettings.Path)

            @Html.LabelFor(model => model.SendParameters)
            <div class="FieldSection">@Html.EditorFor(model => model.SendParameters)</div>

            @Html.LabelFor(model => model.ExecutionSettings)
            <div class="FieldSection">@Html.EditorFor(model => model.ExecutionSettings)</div>

            <input type="submit" value="Execute"/>
        }

        <div id="SendResults" class="Results"></div>
    </div>

    <h2>QueueClient.Receive</h2>
    <div class="ServiceBusFunctionPane">
        @using (Ajax.BeginForm("Receive", "ServiceBus", new AjaxOptions { UpdateTargetId = "ReceiveResults" }))
        {
            @Html.HiddenFor(model => model.ServiceSettings.Namespace)
            @Html.HiddenFor(model => model.ServiceSettings.AccessKey)
            @Html.HiddenFor(model => model.QueueSettings.Path)

            @Html.LabelFor(model => model.ReceiveParameters)
            <div class="FieldSection">@Html.EnumDropDownListFor(model => model.ReceiveParameters.ReceiveMode)</div>

            @Html.LabelFor(model => model.ExecutionSettings)
            <div class="FieldSection">@Html.EditorFor(model => model.ExecutionSettings)</div>

            <input type="submit" value="Execute" />
        }

        <div id="ReceiveResults" class="Results"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            $('#ServiceBusFunctions').accordion({ heightStyle: "content" });
        });

        $('input[type=submit]').click(function() {
            var masterServiceNamespace = $('#ServiceSettings_Namespace').val();
            var masterServiceAccessKey = $('#ServiceSettings_AccessKey').val();

            $(this).siblings('#ServiceSettings_Namespace').val(masterServiceNamespace);
            $(this).siblings('#ServiceSettings_AccessKey').val(masterServiceAccessKey);
        });
    </script>
}