@model WebPortal.Controllers.RedisBenchViewModel

@{
    ViewBag.Title = "Azure Bench - Redis Cache";
}

@section styles
{
    <style type="text/css">
        .Results {
            white-space:        pre-line;
            background-color:   cornflowerblue;
            -ms-border-radius:  10px;
            border-radius:      10px;
            margin-top:         10px;
            padding:            5px;
            font-family:        monospace;
            overflow:           hidden;
        }

        .RedisFunctionPane {
            background-color: lightgray;
            -ms-border-radius:  10px;
            border-radius:      10px;
            padding: 10px;
        }

        .FieldSection {
            margin: 5px;
        }

        .FieldSection label {
            font-weight: lighter;
            float:       left;
            width:       175px;
        }
    </style>
}

<h1>Redis Cache</h1>

@Html.LabelFor(model => model.ServiceSettings)
<div class="FieldSection">@Html.EditorFor(model => model.ServiceSettings)</div>

<div id="RedisFunctions">
    <h2>StringSet</h2>
    <div class="RedisFunctionPane">
        @using (Ajax.BeginForm("StringSet", "RedisCache", new AjaxOptions { UpdateTargetId = "StringSetResults" }))
        {
            @Html.HiddenFor(model => model.ServiceSettings.ServiceName)
            @Html.HiddenFor(model => model.ServiceSettings.ServiceKey)

            @Html.LabelFor(model  => model.StringSetParameters)
            <div class="FieldSection">@Html.EditorFor(model => model.StringSetParameters)</div>

            @Html.LabelFor(model  => model.ExecutionSettings)
            <div class="FieldSection">@Html.EditorFor(model => model.ExecutionSettings)</div>

            <input type="submit" value="Execute"/>
        }

        <div id="StringSetResults" class="Results"></div>
    </div>

    <h2>StringGet</h2>
    <div class="RedisFunctionPane">
        @using (Ajax.BeginForm("StringGet", "RedisCache", new AjaxOptions { UpdateTargetId = "StringGetResults" }))
        {
            @Html.HiddenFor(model => model.ServiceSettings.ServiceName)
            @Html.HiddenFor(model => model.ServiceSettings.ServiceKey)

            @Html.LabelFor(model => model.StringGetParameters)
            <div class="FieldSection">@Html.EditorFor(model => model.StringGetParameters)</div>
            
            @Html.LabelFor(model  => model.ExecutionSettings)
            <div class="FieldSection">@Html.EditorFor(model => model.ExecutionSettings)</div>

            <input type="submit" value="Execute" />
        }

        <div id="StringGetResults" class="Results"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            $('#RedisFunctions').accordion({heightStyle:"content"});
        });

        $('input[type=submit]').click(function() {
            var masterServiceName = $('#ServiceSettings_ServiceName').val();
            var masterServiceKey  = $('#ServiceSettings_ServiceKey').val();

            $(this).siblings('#ServiceSettings_ServiceName').val(masterServiceName);
            $(this).siblings('#ServiceSettings_ServiceKey').val(masterServiceKey);
        });
    </script>
}