@model WebPortal.Controllers.RedisBenchView

@{
    ViewBag.Title = "Azure Bench - Redis Cache";
}

<h2>Redis Cache</h2>

@using (Ajax.BeginForm("StringSet", "RedisCache", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result" }))
{
    @Html.LabelFor(model  => model.ServiceSettings)
    @Html.EditorFor(model => model.ServiceSettings)
    
    @Html.LabelFor(model  => model.StringSetParameters)
    @Html.EditorFor(model => model.StringSetParameters)
    
    @Html.LabelFor(model  => model.CallSettings)
    @Html.EditorFor(model => model.CallSettings)

    <input type="submit" value="Submit Cache Items" />
}

<div id="result"></div>